.nav {
    background-color: $primary-clr;
}

.navbar {
    height: 5rem;
    @extend %flex-between;
    color: $white;
    &-logo {
        font-family: 'Courgette', cursive;
        font-size: 2rem;
    }
    &-counter {
        position: relative;
        font-size: 2rem;
        span {
            position: absolute;
            top: -0.5rem;
            right: -0.75rem;
            width: 1.5rem;
            height: 1.5rem;
            @extend %grid-center;
            border-radius: 50%;
            background-color: $light-red;
            font-size: 1rem;
        }
    }
}
